# Database
DATABASE_URL="postgresql://postgres:Inioluwanimi@12@localhost:5432/loopra_db"

# Auth
NEXTAUTH_SECRET="/fb9sFDngVNBndGo6dmfbQy6r7XxkC6nUvNMg8KD7lw="
NEXTAUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY="re_xxxxxxxxxxxx"

# Payments (Flutterwave)
FLUTTERWAVE_SECRET_KEY="FLWSECK-xxxxxxxxxxxx"
FLUTTERWAVE_PUBLIC_KEY="FLWPUBK-xxxxxxxxxxxx"
FLUTTERWAVE_WEBHOOK_SECRET="your-webhook-secret"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
